{% extends 'base.html.twig' %}

{% block title %}salut BlogController!{% endblock %}

{% block body %}


<div class="example-wrapper">




    <h1>SALUT {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/houda/Desktop/siteSymfony/my_project_name/src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/houda/Desktop/siteSymfony/my_project_name/templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
